@import "tailwindcss";

:root {
  --color-primary: #e63946; /* Turk Masale Red */
  --color-secondary: #f1faee; /* Light background */
  --color-accent: #a8dadc; /* Fresh accent */
  --color-dark: #1d3557; /* Text color */
}
